.App {
  padding: 20px;
  min-height: 100vh;
  background-color: #282c34;
  color: white;


}

 .movie h1{
   width:85% ;
  border-bottom-style: groove;
  border-bottom-color: coral;
  border-bottom-width: 7px;
 }
.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.Layout{
  display: grid;
  font-size: calc(10px + 2vmin);

  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.orange{
  color: orangered;
}
.purple{
  color: purple;
}


.rate-continer{
  margin-top : 20px;
  border-top : 2px solid purple;
}

.rate-continer .fa-star{
  font-size: 1.8rem;
  cursor: pointer;
}

.movie-item{
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.movie-item svg{
  font-size : 1.2rem;
  margin: 35px 10px;
  cursor: pointer;
}